
/*Color fondo*/
$color-primario:#FAF8F5;
$color-secundario:#A9D6CB;
$color-grey:#FAF8F5;
$color-width:#FFFFFFCC;
$color-grey2:#909090;
$color-black:#070D15;

/*Color letra y botones*/
$color-blue:#264065;

